@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
    --text-main: #1f2937;
    /* gray-800 */
    --text-muted: #6b7280;
    /* gray-500 */
}

body {
    @apply bg-white text-gray-900 antialiased;
    background-color: white;
    color: var(--text-main);
}